<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @status.person %>
</p>

<p>
  <strong>Message:</strong>
  <%= @status.message %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
